<h1>Angular CheckBox Example</h1>

<form [formGroup]="form">
  <!-- (ngSubmit)="submit()" -->
  <div class="form-group">
    <label for="website">Website:</label>
   

    <div *ngFor="let web of weekdata">
      <label>
        <input type="checkbox" [value]="web.id" (change)="onCheckboxChange($event)" />
        {{web.name}}
      </label>
    </div>
  </div>


  <div class="address-container" *ngFor="let group of addressArray.controls; let i = index;" formArrayName="address">
    <div class="form-group jumbotron" [formGroupName]='i'>
      <input class="form-control mb-3" placeholder="Street" value="" formControlName="street"> 
      <input class="form-control mb-3" placeholder="City" value="" formControlName="city">
      <input class="form-control mb-3" placeholder="State" value="" formControlName="state">
      <button *ngIf="i>0" class="btn btn-danger float-end mb-3" (click)="removeAddress(i)">Remove address block</button>
    
    </div>
  </div>
  <div class="form-row org-desc-parent-margin">
    <button class="btn btn-primary" (click)="addAddress()">Add More Address +</button>
   
  </div>

  <button class="btn btn-primary"(click)="submit()">Submit</button>
</form>
<router-outlet></router-outlet>